*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    font-size: 18px;
    line-height: 27px;
    font-size: 300;
    color: #2C2B2B;
    font-family: 'Oswald', sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
.header {
    background-image: url(../images/header-bg_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 700px;
    color: #fff;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}
.header__top{
    padding: 47px 0 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.phone {
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
}
.header__content{
    padding-top: 60px;
    position: relative;
}
.header__title{
    font-weight: 400;
    font-size: 72px;
    line-height: 107px;
    text-transform: uppercase;

    transform: translate(0px, 150%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.header__title._active {
    transform: translate(0px, 0px);
    opacity: 1;
}
.header__subtitle{
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    margin-bottom: 30px;

    transform: translate(0px, 150%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.header__subtitle._active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.4s;
}
.header__text{
    margin-bottom: 30px;
    max-width: 800px;

    transform: translate(0px, 150%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.header__text._active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0.8s;
}
.button{
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    padding: 14px 54px 15px;
    background-color: #245fb9;
    transition: all .5s;
}
.button:hover{
    background-color: #161d41;
    border-radius: 50px;
}
.header__social{
    padding: 70px 0 20px 65px; 
}
.social{
    display: flex;
    align-items: center;
}
.social__link{
    margin:0 5px;
}
.header__images{
    position: absolute;
    right: 0px;
    bottom: -270px;
    
    transform: translate(0px, -150%);
    opacity: 0;
    transition: all 0s ease 0s;
}
.header__images._active{
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.8s ease 0s;
}
.services{
    padding-top: 150px;
}
.title{
    color: #21062A;
    font-size: 36px;
    line-height: 54px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 50px;
    position: relative;
    transform: translate(0px, 150%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.title._active{
    opacity: 1;
    transform: translate(0px, 0px);
}
.title::after{
    content: '';
    width: 80px;
    height: 3px;
    background-color: #21062A;
    position: absolute;
    top: 25px;
    margin-left: 20px;
}
.services__inner{
    display: flex;
    margin-bottom: 100px;
}
.services__content{
    width: 505px;
    margin-right: 96px;
}
.services__content-title{
    color: #245fb9;
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
    margin-bottom: 12px;
}
.services__content-textbox{
    margin-bottom: 57px;
}
.services__content-text{
    margin-bottom: 12px;
    overflow: hidden;
}
._anim-show{
    transform: translate(0px, 150%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}
._anim-show._active,
._active ._anim-show{
    opacity: 1;
    transform: translate(0px, 0px);
}
.button--decor{
    margin-top: -7px;
    color: #fff;
    position: relative;
}
.button--decor:hover{
    background-color: #161d41;
    color: #fff;
}
.button--decor::after{
    content: 'ЖМИ';
    color: #c4c4c4;
    position: absolute;
    margin-left: 130px;
}
.button--decor::before{
    content: '';
    background-color: #c4c4c4;
    width: 80px;
    height: 2px;
    position: absolute;
    right: -65px;
    top: 24px;
}
.services__list{
    list-style: none;
    counter-reset: my-counter;  
}
.services__item{
    counter-increment: my-counter;
    border: 1px solid #c4c4c4;
    margin-bottom: 12px;
    width: 450px;
    padding: 10px 15px 10px 95px;
    position: relative;
}
.services__item{
    transform: translate(-150%, 0px);
    transition: all 0.3s ease 0s;
    opacity: 0;
}
.services__item._active{

    transform: translate(0px, 0px);
    transition: all 0.8s ease 0s;
    opacity: 1;
}
.services__item::before{
    content: '0' counter(my-counter);
    position: absolute;
    left: 20px;
    font-size: 36px;
    line-height: 54px;
    font-weight: 400;
    color: #c4c4c4;
    transform: rotate(270deg);
    transition: all .2s;
}
.services__item:hover{
    width: 500px;
    border: 1px solid #245fb9;
}
.services__item:hover .services__item-title{
    color: #245fb9;
}
.services__item:hover::before{
    color: #245fb9;
}
.services__item-title{
    font-size: 24px;
    font-weight: 300;
}
.benefits{
    margin-bottom: 100px;
}
.benefits__inner{
    display: flex;
}
.benefits__images{
    margin-top: 100px;
    margin-right: 95px;
    height: fit-content;
}
.benefits__content{
    width: 100%;
    color: #fff;
}
.benefits__title{
    margin-left: 185px;
}
.benefits__list{
    list-style: none;
    background-color: #245fb9;
    padding: 25px 0 25px 185px;
}
.benefits__item{
    width: 320px;
    margin-bottom: 20px;
    transform: translate(-150%, 0px);
    transition: all 0.3s ease 0s;
    opacity: 0;
}
.benefits__item._active{
    transform: translate(0px, 0px);
    transition: all 0.8s ease 0s;
    opacity: 1;
}
.benefits__item-num{
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
}
.benefits__item-title{
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
}
.benefits__item-text{
    color: #c4c4c4;
}
.carousel{
    margin-bottom: 100px;
}
.carousel__inner{
    margin: 0 -7px;
}
.carousel__item{
    margin: 0 7px;
}
.carousel__item-box:hover{
    color: #fff;
    background-color: #245fb9;
    border-color: #245fb9;
}
.carousel__item-box{
    border: 1px solid #c4c4c4;
    padding: 6px 6px 16px 6px;
    text-align: center;
    transition: all .5s;
}
.carousel__item-img{
    max-width: 100%;
    margin-bottom: 23px;
}
.carousel__item-title{
    font-weight: 300;
    margin-bottom: 5px;
}
.carousel .slick-dots{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    list-style: none;
}
.carousel .slick-dots button{
    font-size: 0;
    border: none;
    margin: 0 10px;
    background-color: #c4c4c4;
    width: 50px;
    height: 1px;
}
.carousel .slick-active button{
    height: 3px;
    background-color: #245fb9;
}
.contacts__inner{
    display: flex;
    justify-content: space-between;
}
.contacts__list{
    list-style: none;
    transform: translate(-150%, 0px);
    transition: all 0.3s ease 0s;
    opacity: 0;

}
.contacts__list._active{
    transform: translate(0px, 0px);
    transition: all 0.8s ease 0s;
    opacity: 1;
}
.contacts__item{
    margin-bottom: 20px;
}
.contacts__form{
    background-color: #245fb9;
    padding: 50px 75px 57px;
    text-align: center;
}
.contacts__title{
    color: #fff;
    margin-bottom: 16px;
    margin-left: 0px;
    text-align: left;
}
.contacts__item .contacts__title{
    color: #245fb9;
}
.contacts__title::after{
    background-color: #fff;
}
.contacts__input{
    background-color: transparent;
    width: 450px;
    height: 75px;
    color: #fff;
    border: 1px solid #fff;
    margin-bottom: 12px;
    display: block;
    font-size: 24px;
    padding: 0 15px;
    text-align: center;
}
.contacts__input::placeholder{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
    color: #c4c4c4;
}
.contacts__btn{
    border: none;
    color: #fff;
    margin-top: 78px;
    cursor: pointer;
    border: 2px solid #fff;
}
.footer{
    background-color: #245fb9;
}
.footer_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    height: 100px;
}
.scroll_up {
    position: fixed;
    right: 2.2rem;
    bottom: 2.57rem;
  }
@media (max-width: 1140px) {
    .services__item:hover{
        width: 450px;
    }
}
@media (max-width: 1024px) {
    .header__images{
        width: 80%;
    }
    .services{
        padding-top: 180px;
    }
    .services__inner{
        flex-wrap: wrap;
    }
    .services__list{
        order: -1;
        width: 100%;
    }
    .services__item{
        width: 100%;
    }
    .services__item:hover{
        width: 80%;
    }
    .services__content{
        width: 100%;
        margin: 0px;
    }
    .services__content-title{
        margin-left: 20px;
    }
    .services__content-textbox{
        margin-left: 95px
    }
    .benefits__title{
        margin-left: 0;
    }
    .benefits__list{
        padding-left: 25px;

    }
}
@media (max-width: 900px) {
    .phone{
        font-size: 24px;
        line-height: 36px;
    }
    .header__title{
        font-size: 54px;
        line-height: 74px;
    }
    .header__subtitle{
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 20px;
    }
    .header__social{
        padding: 30px 0 20px 53px;
    }
    .contacts__inner{
        flex-direction: column;
    }
    .contacts__list{
        display: flex;
        justify-content: space-around;
    }
    .contacts__title{
        margin-left: 0px;
    }
    .contacts__info .title{
        margin-bottom: 25px;
        margin-left: 70px;
    }
    .contacts__input{
        width: 100%;
    }
}
@media (max-width: 750px){
    .header__title{
        font-size: 44px;
        line-height: 50px;
    }
    .benefits__images{
        display: none;
    }
    .benefits__item{
        width: 100%;
        padding-right: 20px;
    }
}    
@media (max-width: 600px) {
    .header__content{
        padding-top: 0px;
        text-align: center;
    }
    .header__social{
        padding: 30px 0 20px 0;
    }
    .social{
        justify-content: center;
    }
    .services__content{
        margin-right: 0px;
    }
    .services__item:hover{
        width: 100%;
    }
    .carousel .slick-dots button{
        width: 20px;
    }
    .carousel .container .title::after{
        display: none;
    }
    .footer_inner{
        height: 100%;
        flex-direction: column;
    }
}
@media (max-width: 520px) {
    
    .header__title {
        margin-bottom: 20px;
    }
    .header__images{
        position: static;
        width: 100%;
    }
    .services{
        padding-top: 50px;
    }
    .button--decor{
        padding: 14px 35px 15px;
    }
    .contacts__title{
        text-align: center;
    }
    .contacts__title::after{
        display: none;
    }

}
@media (max-width: 400px) {
    .header__top{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        padding: 25px 0px 25px 0px;
    }
    .contacts__list {
        display: flex;
        flex-direction: column;
    }
    .services__inner {
        margin-bottom: 30px;
    }
    .benefits {
        margin-bottom: 30px;
    }
}
@media (max-width: 375px) {
    .header__top {
        padding: 15px 0px 15px 0px;
    }
    .header__title {
        margin-bottom: 10px;
    }
    .header__subtitle {
        margin-bottom: 10px;
    }
    .header__text {
        margin-bottom: 10px;
    }
    .header__social {
        padding: 15px 0 10px 0;
    }
    .button--decor::before {
        width: 40px;
        right: -19px;
    }
    .button--decor::after {
        margin-left: 60px;
    }
    .benefits {
        margin-bottom: 50px;
    }
    .contacts__info .title {
        margin-bottom: 10px;
        margin-left: 0px;
    }
    .contacts__btn {
        color: #fff;
        margin-top: 20px;
        padding: 14px 0px 14px;
    }
    .carousel .slick-dots button {
        width: 12px;
    }
    .carousel {
        margin-bottom: 35px;
    }
}
@media (max-width: 320px){
    .services {
        padding-top: 30px;
    }
    .title {
        margin-bottom: 30px;
        font-size: 32px;
    }
    .benefits {
        margin-bottom: 30px;
    }
    .carousel .slick-dots {
        margin-top: 5px;
    }
    .contacts__text{
        font-size: 16px;
    }
    
}
#loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #245fb9 url('../images/jeep-loader.svg') no-repeat center center;
    background-size: contain;
    z-index: 9999;
}
.no-scroll {
    overflow: hidden;
 }
 .scroll_up {
     transition: 1s;
     border: none;
     background: none;
 }
 .hidden{
    opacity: 0;
    transition: 1s;
 }